<footer>
    <div class="footer">
        <div class="footer-main-block">
            <h2 class="white ibm-font">Car-Карыч</h2>
            <h5 class="white font-gotham weight-0">
                {% for setting in settings|filter(setting => setting.type in [6]) -%}
                    {{ setting.value }}
                {% endfor %}
            </h5>
        </div>
        <div class="flex-column footer-soc-network-block">
            <div class="grid-gap-social">
                {% set settingsImg = {
                    2:{
                        img: 'img/vk.svg',
                        class: 'img-vk',
                    }, 3:{
                        img: 'img/instagram.svg',
                        class: 'img-instagram',
                    }, 4:{
                        img: 'img/youtube.svg',
                        class: 'img-youtube',
                    }} %}
                {% for setting in settings|filter(setting => setting.type in [2,3,4]) -%}
                    <div class="white font-gotham container-img-soc {{ settingsImg[setting.type].class }} flex-center">
                        <a class="p-0-im" href="{{ setting.value }}"><img src="{{ asset(settingsImg[setting.type].img) }}" alt=""/></a>
                    </div>
                {% endfor %}
            </div>
            <h5 class="white font-gotham weight-0 m-0 pt-2">
                Импорт автомобилей в РФ. Авто из Кореи, Китая, Японии, Америки и
                других стран.
            </h5>
        </div>
        <div class="mobile-footer-block">
            <h4 class="white font-gotham-bold m-0">Навигация</h4>
            <div class="white footer-block">
                <a href="{{ path('index') }}"><h5 class="font-gotham">Главная</h5></a>
                <a href="{{ path('index') }}#select-car"><h5 class="font-gotham">Подобрать автомобиль</h5></a>
                <a href="{{ path('catalog') }}"><h5 class="font-gotham">Каталог</h5></a>
                <a href="{{ path('about_us') }}"><h5 class="font-gotham">О нас</h5></a>
            </div>
        </div>
        <div class="mobile-footer-block">
            <h4 class="font-gotham-bold m-0 white">Контакты</h4>
            <div class="white footer-last-block">
                {% for setting in settings|filter(setting => setting.type in [7]) -%}
                    <a href="tel:{{ setting.value }}"><h5 class="font-gotham">{{ setting.value }}</h5></a>
                {% endfor %}
                {% for setting in settings|filter(setting => setting.type in [8]) -%}
                    <a href="mailto:{{ setting.value }}"><h5 class="font-gotham email-footer">{{ setting.value }}</h5></a>
                {% endfor %}
                <button class="btn btn-transparent border-white mobile-none" onclick="toggleModal()">
                    Заказать звонок
                </button>
            </div>
        </div>
        <button class="btn btn-transparent border-white mobile-block" onclick="toggleModal()">
            Заказать звонок
        </button>
    </div>
</footer>