<footer>
    <div class="footer">
        <div class="footer-main-block">
            <h2 class="white ibm-font">Car-Карыч</h2>
            <h5 class="white font-gotham weight-0">
                г. Москва, Улица Вольная 28/4 к2, 105187
            </h5>
        </div>
        <div class="flex-column footer-soc-network-block">
            <div class="flex-row">
                <div class="white font-gotham container-img-soc img-vk flex-center">
                    <img src="{{ asset('img/vk.svg') }}" alt=""/>
                </div>
                <div class="white font-gotham ml-1 container-img-soc img-instagram flex-center">
                    <img src="{{ asset('img/instagram.svg') }}" alt=""/>
                </div>
                <div class="white font-gotham ml-1 container-img-soc img-youtube flex-center">
                    <img src="{{ asset('img/youtube.svg') }}" alt=""/>
                </div>
            </div>
            <h5 class="white font-gotham weight-0 m-0 pt-2">
                Импорт автомобилей в РФ. Авто из Кореи, Китая, Японии, Америки и
                других стран.
            </h5>
        </div>
        <div class="mt-4">
            <h4 class="white font-gotham-bold m-0">Навигация</h4>
            <div class="white footer-block">
                <a href="{{ path('index') }}"><h5 class="font-gotham">Главная</h5></a>
                <a href="#select-car"><h5 class="font-gotham">Подобрать автомобиль</h5></a>
                <a href="{{ path('catalog') }}"><h5 class="font-gotham">Каталог</h5></a>
                <a href="{{ path('about_us') }}"><h5 class="font-gotham">О нас</h5></a>
            </div>
        </div>
        <div class="mt-4">
            <h4 class="font-gotham-bold m-0 white">Контакты</h4>
            <div class="white footer-last-block">
                <h5 class="font-gotham">+7 (999) 000 99-00</h5>
                <h5 class="font-gotham email-footer">car-carich@email.com</h5>
                <button class="btn btn-transparent border-white mobile-none" onclick="toggleModal()">
                    Заказать звонок
                </button>
            </div>
        </div>
        <button class="btn btn-transparent border-white mobile-block" onclick="toggleModal()">
            Заказать звонок
        </button>
    </div>
</footer>