<header class="header header-hidden header-fixed bg-white black font-gotham z3 bt-0 width-100
    {% if isDisplayNone %}
    d-none
    {% endif %}
">

    <div class="ml-2 absolute flex height-100 mobile-logo">
        <img src="{{ asset('img/logo.svg') }}" alt="" class="header-logo"/>
        {% if nameHidden %}
        {% else %}
            <a href="{{ path('index') }}" class="ibm-font p-0-pl-1-margin-auto">Car-Карыч</a>
        {% endif %}
    </div>
    <div class="header-text flex-j-center flex-end width-100">
        <a href="{{ path('index') }}" class="{% if mainHidden %}mobile-none{% endif %}">Главная</a>
        <a href="{{ path('index') }}#select-car">Подобрать автомобиль</a>
        <a href="{{ path('catalog') }}" class="{% if catalogHidden %}mobile-none{% endif %}">Каталог</a>
        <a href="{{ path('about_us') }}" class="{% if aboutUsHidden %}mobile-none{% endif %}">О нас</a>
    </div>
    <div class="absolute right-0 flex-center height-100 mr-2 mobile-logo">
        <div class="flex-row">
            <div class="white font-gotham container-img-soc img-vk flex-center">
                <img src="{{ asset('img/vk.svg') }}" alt=""/>
            </div>
            <div class="white font-gotham ml-1 container-img-soc img-instagram flex-center">
                <img src="{{ asset('img/instagram.svg') }}" alt=""/>
            </div>
            <div class="white font-gotham ml-1 container-img-soc img-youtube flex-center">
                <img src="{{ asset('img/youtube.svg') }}" alt=""/>
            </div>
        </div>
    </div>
</header>