<header class="header header-color black font-gotham">
    <div class="flex-row flex-space-between header-block header-color g-1">
        <a href="{{ path('index') }}" class="ibm-font header-base-btn header-avg-btn header-btn-accent g-4">
            <img src="{{ asset('img/logo.svg') }}" alt="" class="header-logo"/>
            <span class="header-logo-text">Car-Карыч</span>
        </a>
        <div class="header-base-btn header-small-btn header-secondary-text g-2">
            <img src="{{ asset('img/header/search.svg') }}" alt="" class="header-img"/>
            <span>Поиск</span>
        </div>
        <div class="header-base-btn header-btn header-secondary-text text-montserrat g-6">
            <a href="{{ path('index') }}">Главная</a>
            <a href="{{ path('catalog') }}">Каталог</a>
            <a href="{{ path('about_us') }}">О нас</a>
        </div>
        <div class="header-base-btn header-avg-btn header-secondary-text text-montserrat g-6">
            <a href="{{ path('index') }}" class="g-2 flex-center">
                <img src="{{ asset('img/header/navigation.svg') }}" alt="" class="header-img"/>
                Москва
            </a>
            <a href="{{ path('catalog') }}" class="g-2 flex-center">
                <img src="{{ asset('img/header/phone.svg') }}" alt="" class="header-img"/>
                +7 999 000 99 00
            </a>
        </div>
        <div class="header-base-btn header-small-btn header-btn-accent text-montserrat header-signin g-2">
            <img src="{{ asset('img/header/signin.svg') }}" alt="" class="header-img"/>
            <span>Вход</span>
        </div>
    </div>
</header>
