<header class="header header-hidden header-fixed bg-white black font-gotham z4 bt-0 width-100
    {% if isDisplayNone %}
    d-none
    {% endif %}
">

    <div class="ml-2 absolute flex height-100 mobile-logo">
        <img src="{{ asset('img/logo.svg') }}" alt="" class="header-logo"/>
        {% if nameHidden %}
        {% else %}
            <a href="{{ path('index') }}" class="ibm-font p-0-pl-1-margin-auto">Car-Карыч</a>
        {% endif %}
    </div>
    <div class="header-text flex-j-center flex-end width-100">
        <a href="{{ path('index') }}" class="{% if mainHidden %}mobile-none{% endif %}">Главная</a>
        <a href="{{ path('index') }}#select-car">Подобрать автомобиль</a>
        <a href="{{ path('catalog') }}" class="{% if catalogHidden %}mobile-none{% endif %}">Каталог</a>
        <a href="{{ path('about_us') }}" class="{% if aboutUsHidden %}mobile-none{% endif %}">О нас</a>
    </div>
    <div class="absolute right-0 flex-center height-100 mr-2 mobile-logo">
        <div class="grid-gap-social">
            {% set settingsImg = {
                2:{
                    img: 'img/vk.svg',
                    class: 'img-vk',
                }, 3:{
                    img: 'img/instagram.svg',
                    class: 'img-instagram',
                }, 4:{
                    img: 'img/youtube.svg',
                    class: 'img-youtube',
                }} %}
            {% for setting in settings|filter(setting => setting.type in [2,3,4]) -%}
                <div class="white font-gotham container-img-soc {{ settingsImg[setting.type].class }} flex-center">
                    <a class="p-0-im" href="{{ setting.value }}"><img src="{{ asset(settingsImg[setting.type].img) }}" alt=""/></a>
                </div>
            {% endfor %}
        </div>
    </div>
</header>