<label for="{{ label }}-range-price" class="font-gotham grey">{{ name }}</label>
<div class="flex-row font-gotham flex-space-between mt-1">
    <h6 id="{{ label }}-range-price-min" class="m-0 font-gotham"></h6>
    <h6 id="{{ label }}-range-price-max" class="m-0 font-gotham"></h6>
</div>
<div id="{{ label }}-range-price" class="mt-1"></div>
{% if createSlider %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            createSlider({id: "{{ label }}-range-price", min: {{ min }}, max: {{ max }}}).on("update", (values) => {
                document.getElementById("{{ label }}-range-price-min").innerText =
                    formatNumber(values[0]) + " {{ symbol }}";
                document.getElementById("{{ label }}-range-price-max").innerText =
                    formatNumber(values[1]) + " {{ symbol }}";
            });
        });
    </script>
{% endif %}