<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{{ asset('styles/base.css') }}"/>

    {{ component('format_number') }}
    {{ component('scripts/base') }}
    <script src="{{ asset('libs/imask/imask.js') }}"></script>

    <link rel="icon" type="image/x-icon" href="{{ asset('img/favicon.ico') }}"/>
    {% block head %}
    {% endblock %}
    <title>Car-Карыч</title>
</head>
<body>
{% block body %}
{% endblock %}
{{ component('call-modal') }}
{{ component('footer') }}
</body>
</html>