{% extends 'lk/base.html.twig' %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('styles/car_detail.css') }}">
    <link rel="stylesheet" href="{{ asset('libs/owlcarousel/owl.carousel.min.css') }}"/>

    <script src="{{ asset('https://code.jquery.com/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ asset('libs/owlcarousel/owl.carousel.min.js') }}"></script>
    {{ component('owl_carousel', {selectorName: '.car-img', classNameNextArrow: 'right-arrow', classNamePrevArrow: 'left-arrow'}) }}
    {{ component('owl_carousel', {selectorName: '.car-img-mobile', classNameNextArrow: null, classNamePrevArrow: null, loop: true}) }}
{% endblock %}

{% block body %}
    {{ component('header', {nameHidden: false}) }}
    <div class="flex-row mlr-8 pb-6 mt-6 main-block">
        <div class="flex-column width-33 car-info">
            <div class="flex-row back" onclick="window.history.back()">
                <img src="{{ asset('img/back-arrow.svg') }}" alt=""/>
                <p class="font-gotham ml-1">Назад</p>
            </div>
            <div class="flex-row flex-baseline car-name">
                <h2 class="black font-gotham-bold m-0">{{ car.name }}</h2>
                <span class="font-gotham black ml-2 fs-12">{{ car.year}} г.</span>
            </div>
            <div class="relative mobile-block mt-2">
                <div class="width-100 flex-j-center">
                    <div class="width-90">
                        <div class="car-img-mobile owl-carousel owl-theme">
                            {% for img in car.images %}
                                <img src="{{ asset(img) }}" class="width-100" alt=""/>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-row mt-4 font-gotham btn-car-info">
                <div class="flex-column flex-center width-max">
                    <div class="btn btn-light btn-selectable">{{ car.typeEngine }}</div>
                    <div class="grey fs-12 mt-1">Двигатель</div>
                </div>
                <div class="flex-column flex-center ml-2 width-max">
                    <div class="btn btn-light btn-selectable" style="width: max-content"><span class="number">{{ car.mileage }}</span> km</div>
                    <div class="grey fs-12 mt-1">Пробег</div>
                </div>
                <div class="flex-column flex-center ml-2 width-max">
                    <div class="btn btn-light btn-selectable">{{ car.country }}</div>
                    <div class="grey fs-12 mt-1">Страна</div>
                </div>
            </div>
            <div class="mt-2 flex-column fit-content text-car-info">
                <div class="flex-row info">
                    <h5 class="font-gotham-bold">Мощность</h5>
                    <h5 class="font-gotham ml-2">{{ car.power }}</h5>
                </div>
                {% if car.battery %}
                    <div class="flex-row info">
                        <h5 class="font-gotham-bold">Емкость батареи</h5>
                        <h5 class="font-gotham ml-2">{{ car.battery }}</h5>
                    </div>
                {% endif %}

                {% if car.weight %}
                    <div class="flex-row info">
                        <h5 class="font-gotham-bold">Вес</h5>
                        <h5 class="font-gotham ml-2">{{ car.weight }}</h5>
                    </div>
                {% endif %}

                {% if car.volume %}
                    <div class="flex-row info">
                        <h5 class="font-gotham-bold">Объем двигателя</h5>
                        <h5 class="font-gotham ml-2">{{ car.volume }}</h5>
                    </div>
                {% endif %}

                {% if car.mileageOneCharge %}
                    <div class="flex-row info">
                        <h5 class="font-gotham-bold">Пробег на 1 заряде</h5>
                        <h5 class="font-gotham ml-2">{{ car.mileageOneCharge }}</h5>
                    </div>
                {% endif %}

            </div>
            <div class="mobile-block bg-grey-btn flex-column pt-2 plr-2 flex-center">
                <div class="flex-row font-gotham-bold">
                    <h5 class="black"><span class="number">{{ car.fullPrice }}</span> ₽ полная комплектация</h5>
                    <h5 class="font-gotham primary-text">| <span class="number">{{ car.standardPrice }}</span> ₽ стандарт</h5>
                </div>
                <div class="mt-1 pb-1 width-100">
                    <button class="btn btn-black width-100" onclick="toggleModal()">
                        Заказать звонок
                    </button>
                </div>
            </div>
        </div>
        <div class="relative width-75 mt-7 ml-4 car-images mobile-none">
            <div class="mt-7 z2 absolute full-width flex-space-between">
                <img
                        id="left-arrow"
                        src="{{ asset('img/arrow.svg') }}"
                        class="small-arrow transform-mirror"
                 alt=""/>
                <img id="right-arrow" src="{{ asset('img/arrow.svg') }}" class="small-arrow" alt=""/>
            </div>
            <div class="width-100 flex-j-center">
                <div class="width-85">
                    <div class="car-img owl-carousel owl-theme">
                        {% for img in car.images %}
                            <img src="{{ asset(img) }}" class="width-100" alt=""/>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="bg-grey-btn flex-column mlr-6 pt-2 plr-5 flex-center">
                <div class="flex-row font-gotham-bold">
                    <h5 class="black"><span class="number">{{ car.fullPrice }}</span> ₽ полная комплектация</h5>
                    <h5 class="font-gotham primary-text">| <span class="number">{{ car.standardPrice }}</span> ₽ стандарт</h5>
                </div>
                <div class="mt-1 pb-1 width-100">
                    <button class="btn btn-black width-100" onclick="toggleModal(CAR_DETAIL_TYPE, '{{ car.name }}')">
                        Заказать звонок
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}