{% extends 'lk/base.html.twig' %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('styles/card.css') }}"/>
    <link rel="stylesheet" href="{{ asset('styles/catalog.css') }}"/>
    <link rel="stylesheet" href="{{ asset('styles/loader.css') }}"/>

    {{ component('car') }}
    {{ component('slider_factory') }}
    {{ component('scripts/catalog', {
        maxPrice: LkFilter.maxPriceFilter,
        minPrice: LkFilter.minPriceFilter,
        minMileage: LkFilter.minMileAge,
        maxMileage: LkFilter.maxMileAge
    }) }}
    <script src="{{ asset('https://code.jquery.com/jquery-3.7.1.min.js') }}"></script>
{% endblock %}

{% block body %}
    {{ component('header', {nameHidden: false, catalogHidden: true}) }}
    <div class="flex-j-center width-100">
        <div class="flex-column mt-7 mb-4 fit-content main-block">
            <div>
                <h2 class="black font-gotham weight-9 name-page text-left">Каталог</h2>
            </div>
            <div class="flex-row font-gotham cards-filters">
                <div class="flex-column filters">
                    <button class="mobile-block btn btn-light btn-selectable toggle-filters white"
                            onclick="elementSelectable(this, BUTTON_TYPE, toggleFilters)">
                        Фильтр
                        <img src="{{ asset('img/parameters.svg') }}" class="toggle-filter-img" alt="">
                    </button>
                    <div class="view-filters">
                        <div>
                            <div class="li-filter">
                                <label>
                                    Двигатель
                                </label>
                            </div>
                            <div class="flex-row grid-3 mt-1 all-filters">
                                {% for value, type in LkFilter.carTypes %}
                                    <button class="btn btn-light btn-selectable filter-engine" value="{{ value }}"
                                            onclick="elementSelectable(this, BUTTON_TYPE, setTypeEngine)">{{ type }}
                                    </button>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="flex-column li-filter mt-2">
                            {{ component('filters/country') }}
                        </div>
                        <div class="mobile-none flex-column li-filter mt-2">
                            {{ component('filters/multirange', {createSlider: false}) }}
                        </div>
                        <div class="mobile-flex flex-column li-filter mt-2">
                            <label for="mobile-max-price" class="font-gotham grey">Ценовой диапозон</label>
                            <input
                                    type="text"
                                    id="mobile-max-price"
                                    placeholder="До {{ LkFilter.maxPriceFilter|number_format(0, ',', ' ') }} ₽"
                                    class="input-filter filter-underline"
                            />
                        </div>
                        <div class="mobile-none flex-column li-filter mt-2">
                            {{ component('filters/multirange', {createSlider: false, label: 'mileage', name: 'Пробег'}) }}
                        </div>
                        <div class="mobile-flex flex-column li-filter mt-2">
                            <label for="mobile-max-mileage" class="font-gotham grey">Пробег</label>
                            <input
                                    type="text"
                                    id="mobile-max-mileage"
                                    placeholder="До {{ LkFilter.maxMileAge|number_format(0, ',', ' ') }} km"
                                    class="input-filter filter-underline"
                            />
                        </div>
                        {#                <div class="li-filter mt-2"> #}
                        {#                    <label>Цвет</label> #}
                        {#                    <div class="grid-gap mt-1"> #}
                        {#                        <div class="circle bg-white color-selectable" onclick="elementSelectable(this, COLOR_TYPE)"></div> #}
                        {#                        <div class="circle bg-grey color-selectable" onclick="elementSelectable(this, COLOR_TYPE)"></div> #}
                        {#                        <div class="circle bg-black color-selectable" onclick="elementSelectable(this, COLOR_TYPE)"></div> #}
                        {#                        <div class="circle bg-red color-selectable" onclick="elementSelectable(this, COLOR_TYPE)"></div> #}
                        {#                        <div class="circle bg-blue color-selectable" onclick="elementSelectable(this, COLOR_TYPE)"></div> #}
                        {#                    </div> #}
                        {#                </div> #}
                    </div>
                    <div onclick="elementSelectable(document.querySelector('.toggle-filters'), BUTTON_TYPE, toggleFilters)"
                         class="mobile-block close-filter d-none btn btn-black white text-center border-none btn-selectable">
                        Свернуть <img src="{{ asset('img/filter-arrow.svg') }}" alt=""/></div>
                </div>
                <div id="loader" class="absolute z4 d-none">
                    <div class="loader">
                        <div class="inner one"></div>
                        <div class="inner two"></div>
                        <div class="inner three"></div>
                    </div>
                </div>
                <div class="flex-column ml-4 mobile-m-0">
                    <div class="cars-cards grid-2">

                    </div>
                    <div id="load-cars-card" class="mt-4 d-none">
                        <button class="btn btn-light btn-w-large width-100 fs-13" onclick="setCarsCard(filter, true)">Показать еще</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}