{% extends 'lk/base.html.twig' %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('styles/catalog.css') }}"/>
    <link rel="stylesheet" href="{{ asset('styles/loader.css') }}"/>

    {{ component('car') }}
    {{ component('slider_factory') }}
    {{ component('scripts/catalog', {
        maxPrice: LkFilter.maxPriceFilter,
        minPrice: LkFilter.minPriceFilter,
    }) }}
    <script src="{{ asset('libs/jquery.min.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="flex-j-center width-100">
        <div class="flex-column mt-7 mb-6 fit-content width-80">

            <div>
                {#                <h2 class="black font-gotham weight-9 name-page text-left">Каталог</h2> #}
            </div>

            <div class="text-montserrat cards-filters relative">
                <div class="flex-column filters">
                    <button class="mobile-block btn btn-light btn-selectable toggle-filters white"
                            onclick="elementSelectable(this, BUTTON_TYPE, toggleFilters)">
                        Фильтр
                        <img src="{{ asset('img/parameters.svg') }}" class="toggle-filter-img" alt="">
                    </button>
                    <div class="view-filters">
                        <div>
                            <div class="mobile-none flex-column li-filter">
                                <label for="multi-range-price" class="text-montserrat">Цена, ₽</label>
                                <div class="grid-2 g-4 mt-1">
                                    <label class="d-none" for="minPrice"></label>
                                    <input min="{{ LkFilter.minPriceFilter }}" max="{{ LkFilter.maxPriceFilter }}"
                                           placeholder="от {{ LkFilter.minPriceFilter|number_format(0, '.', ' ') }}"
                                           type="number" id="minPrice" class="m-0 text-montserrat"/>
                                    <label class="d-none" for="maxPrice"></label>
                                    <input min="{{ LkFilter.minPriceFilter }}" max="{{ LkFilter.maxPriceFilter }}"
                                           placeholder="до {{ LkFilter.maxPriceFilter|number_format(0, '.', ' ') }}"
                                           type="number" id="maxPrice" class="m-0 text-montserrat"/>
                                </div>
                            </div>
                            <div class="flex-column li-filter">
                                {{ component('filters/country') }}
                            </div>
                            <div class="flex-column li-filter">
                                {{ component('filters/stamp') }}
                            </div>
                            <div class="flex-column li-filter">
                                {{ component('filters/model') }}
                            </div>
                            <div class="mobile-none flex-column li-filter">
                                <label for="multi-range-price" class="text-montserrat">Год выпуска</label>
                                <div class="grid-2 g-4 mt-1">
                                    <label class="d-none" for="minYear"></label>
                                    <input min="{{ LkFilter.minYear }}" max="{{ LkFilter.maxYear }}"
                                           placeholder="от {{ LkFilter.minYear }}"
                                           type="number" id="minYear" class="m-0 text-montserrat"/>
                                    <label class="d-none" for="maxYear"></label>
                                    <input min="{{ LkFilter.minYear }}" max="{{ LkFilter.maxYear }}"
                                           placeholder="до {{ LkFilter.maxYear }}"
                                           type="number" id="maxYear" class="m-0 text-montserrat"/>
                                </div>
                            </div>
                            <div class="li-filter">
                                <label class="text-montserrat">
                                    Двигатель
                                </label>
                            </div>
                            <div class="grid-2 mt-1 all-filters">
                                <button class="btn-filter btn-light btn-selected btn-all"
                                        onclick="resetElementTypes()">Любой
                                </button>
                                {% for value, type in LkFilter.carTypes %}
                                    <button class="car-type-{{ value }} btn-filter btn-light btn-selectable filter-engine" value="{{ value }}"
                                            onclick="elementSelectable(this, BUTTON_TYPE, setTypeEngine)">{{ type }}
                                    </button>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div id="loader" class="absolute z4 d-none">
                    <div class="loader">
                        <div class="inner one"></div>
                        <div class="inner two"></div>
                        <div class="inner three"></div>
                    </div>
                </div>
                <div class="flex-column ml-4 mobile-m-0">
                    <div class="search-container">
                        <input id="search-input" type="text" class="fs-17 filter-search" placeholder="Поиск">
                        <input id="grid-list-car" type="button" onclick="setView(this)" class="btn-icon btn-icon-active btn-icon-square" />
                        <input id="grid-col-car" type="button" onclick="setView(this)" class="btn-icon btn-icon-rectangle" />
                    </div>
                    <div class="flex-row container-btn-sort">
                        <input type="button" onclick="setSort(this, NEW_SORT)" class="btn-sort-active" value="новые" />
                        <input type="button" onclick="setSort(this, POPULAR_SORT)" class="btn-sort" value="популярные" />
                        <input type="button" onclick="setSort(this, CHEAPER_SORT)" class="btn-sort" value="подешевле" />
                        <input type="button" onclick="setSort(this, EXPENSIVE_SORT)" class="btn-sort" value="подороже" />
                    </div>
                    <div class="cars-cards grid-car mt-3">

                    </div>
                    <div id="load-cars-card" class="mt-4 d-none">
                        <button class="btn btn-light btn-w-large width-100 fs-13" onclick="setCarsCard(filter, true)">
                            Показать еще
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}