{% extends 'lk/base.html.twig' %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('styles/styles.css') }}"/>
    <link rel="stylesheet" href="{{ asset('libs/owlcarousel/owl.carousel.min.css') }}"/>

    {{ component('car') }}
    {{ component('slider_factory') }}
    <script src="{{ asset('libs/jquery.min.js') }}"></script>
    <script src="{{ asset('libs/owlcarousel/owl.carousel.min.js') }}"></script>
    {{ component('scripts/index', { maxPrice: LkFilter.maxPriceFilter }) }}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

    {{ component('styles/lk/index/banner') }}
    {{ component('styles/lk/index/filters') }}
    {{ component('styles/lk/index/free-consultation') }}
    {{ component('styles/lk/index/list-car') }}
    {{ component('styles/lk/index/index') }}
{% endblock %}

{% block body %}
    {{ component('header') }}
    {{ component('lk/index/banner') }}
    {{ component('lk/index/filters') }}
    {{ component('lk/index/banner-consultation') }}
    {{ component('lk/index/list-car') }}

    <div class="call-btn-catalog-container g-6 text-montserrat mt-3 mb-3">
        <div class="call-btn-accent flex-center flex-j-center g-2">
            <img alt="" src="{{ asset('img/index/black-phone.svg') }}"/>
            <span class="fs-14">Заказать звонок</span>
        </div>
        <button class="btn btn-black text-montserrat">Перейти в каталог</button>
    </div>
{% endblock %}
