{% extends 'lk/base.html.twig' %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('styles/styles.css') }}"/>

    {{ component('car') }}
    {{ component('slider_factory') }}
    <script src="{{ asset('libs/jquery.min.js') }}"></script>

    <script src="{{ asset('libs/owlcarousel/owl.carousel.min.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('libs/owlcarousel/owl.carousel.min.css') }}"/>

    <script src="{{ asset('libs/swiper/swiper.min.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('libs/swiper/swiper.min.css') }}"/>


    {{ component('scripts/index', { maxPrice: LkFilter.maxPriceFilter }) }}


    {{ component('styles/lk/index/banner') }}
    {{ component('styles/lk/index/filters') }}
    {{ component('styles/lk/index/free-consultation') }}
    {{ component('styles/lk/index/index') }}
{% endblock %}

{% block body %}
    {{ component('lk/index/banner') }}
    {{ component('lk/index/filters', { LkFilter: LkFilter }) }}
    {{ component('lk/index/banner-consultation') }}

    <div class="mt-4 grid-4 g-6 popular-cars grid-pop">

    </div>

    <div class="call-btn-catalog-container g-6 text-montserrat mt-3 mb-3">
        <div onclick="toggleModal()" class="btn border-none call-btn-accent flex-center flex-j-center g-2">
            <img alt="" src="{{ asset('img/index/black-phone.svg') }}"/>
            <span class="fs-14">Заказать звонок</span>
        </div>
        <a href="{{ path('catalog') }}" class="btn btn-black flex-center flex-j-center text-montserrat">Перейти в каталог</a>
    </div>

{% endblock %}
